name: Release

on:
  push:
    tags:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Publish to Maven Central
        env:
          SONA_USER: ${{ secrets.SONA_USER }}
          SONA_PASS: ${{ secrets.SONA_PASS }}
          PGP_SECRET: ${{ secrets.SONA_PGP_SECRET }}
          PGP_PASSPHRASE: ${{ secrets.SONA_PGP_PASSPHRASE }}
        run: ./gradlew publish

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
