name: Snyk

on:
  push:
    branches: [ master ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Install Snyk CLI
      uses: snyk/actions/setup@master

    - name: Run Snyk to check for vulnerabilities
      run: snyk monitor --project-name=iab-spiders-and-robots-java-client
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
